:root {
  --primary-color: #ffcc11;
}

html {
  font-size: 62.5%;
}

body {
  background: #fff;
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans',
    'Helvetica Neue', sans-serif;
  overflow-x: hidden;
}

.container {
  width: 100vw;
}

.navbar {
  background: #000;
  padding: 2rem 4rem;
  display: flex;
  justify-content: center;
  align-items: center;
  user-select: none;
}

.navbar .horns {
  width: 8rem;
  height: 8rem;
  /* border: 1px solid white; */
  stroke: #fff;
  margin-right: 1rem;
}

.navbar .heading {
  color: var(--primary-color);
  text-transform: uppercase;
  font-size: 4rem;
  margin: 0;
  font-weight: 800;
  letter-spacing: -1px;
  word-spacing: 1px;
  text-align: center;
}

/* .heading .highlight {
  color: #fff;
  font-weight: 900;
} */

.navbar .tagline {
  color: #fff;
}

.hero {
  width: 100vw;
  height: 67vh;
  background-image: url(../images/truck-trailer-unsplash.jpg);
  /* background-position: 50% 50%; */
  background-color: black;
  background-size: cover;
  position: relative;
}

.tagline {
  background-color: #000;
  bottom: 2rem;
  color: var(--primary-color);
  font-size: 6rem;
  line-height: 6rem;
  margin: 0;
  opacity: 0.8;
  padding: 2rem 3rem 2rem 2rem;
  position: absolute;
  /* text-shadow: 3px 3px 1px #fff; */
  user-select: none;
  width: 80%;
  text-transform: uppercase;
  font-weight: 900;
}

.mission {
  font-size: 3rem;
}

.content {
  padding: 0 2rem;
  color: #333;
}

.content p {
  font-family: 'Roboto Slab', serif;
  font-weight: 400;
}

.content .heading {
  margin-bottom: 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  font-weight: 800;
  color: #000;
}

.accent-bar {
  background-color: var(--primary-color);
  width: 40px;
  height: 5px;
  display: inline-block;
}

.instagram {
  display: block;
  border: 2px #ccc solid;
  margin: 6rem;
}

/* Forms */
.form {
  padding: 0 6rem;
  margin: 4rem auto;
  display: flex;
  justify-content: center;
}
input {
  display: block;
  width: 80vw;
  height: 3rem;
  margin-bottom: 2rem;
  border-radius: 5px;
  border: 3px solid #ccc;
  outline: none;
  transition: border 0.2s;
}

input:focus {
  border: 3px solid var(--primary-color);
}

textarea {
  display: block;
  width: 80vw;
  height: 10rem;
  border-radius: 5px;
  border: 3px solid #ccc;
  outline: none;
  transition: border 0.2s;
}
textarea:focus {
  border: 3px solid var(--primary-color);
}

label {
  font-size: 2rem;
}

.send {
  font-size: 3.5rem;
  margin: 1rem 0;
  border-radius: 5px;
  border: none;
  background: var(--primary-color);
  padding: 1rem 2rem;
  font-weight: 900;
}

/* Phone */

.dot {
  display: flex;
  justify-content: center;
}

.dot h4 {
  font-size: 2rem;
  margin: 1rem;
  color: #333;
}

.phone {
  display: flex;
  justify-content: center;
}

.phone h5 {
  font-size: 4rem;
  margin: 0 0 4rem 0;
  font-weight: 900;
}

@media screen and (min-width: 768px) {
  .content {
    padding: 0 2rem;
    display: flex;
  }
  .content__block {
    margin: 0 4rem;
    width: 50%;
  }
  .content p {
    font-weight: 300;
  }
  .hero {
    width: 100vw;
    height: 86vh;
    background-image: url(../images/truck-trailer-unsplash.jpg);
    background-position: 50% 50%;
    background-color: black;
    /* background-size: cover; */
    position: relative;
  }
  .tagline {
    background-color: #000;
    bottom: 2rem;
    color: var(--primary-color);
    font-size: 10rem;
    line-height: 11rem;
    margin: 0;
    opacity: 0.8;
    padding: 0 4rem;
    position: absolute;
    /* text-shadow: 5px 5px 1px #fff; */
    text-transform: uppercase;
    font-weight: 900;
  }

  .dot {
    display: flex;
    justify-content: center;
  }

  .dot h4 {
    font-size: 3rem;
    margin: 2rem 2rem 5rem 2rem;
    color: #333;
  }

  .phone {
    display: flex;
    justify-content: center;
  }

  .phone h5 {
    font-size: 10rem;
    margin: 0 0 4rem 0;
    font-weight: 900;
  }
}
